.contact-form {
    input,
    textarea {
        display: block;
        border-radius: to-rem(4);
        width: 100%;
        border: to-rem(2) solid $m-grey;
        padding: to-rem(10) to-rem(15);

        color: $d-grey;

        &:focus {
            outline: to-rem(2) solid $orange;
            outline-offset: to-rem(-2);
        }
    }

    .form-control {
        @include set-mb(10);

        &:not(:first-child) {
            @include set-mb(20);
        }
    }
}

.required {
    font-weight: 500;
    font-size: to-rem(12);
    color: $l-grey;
}

.message-container {
@include set-mb(28);

    label {
        @include set-mb(14);

        display: block;

        color: $white;

        font-size: to-rem(18);
        font-weight: 500;
    }

    textarea{
        resize: none;
        height: to-rem(150);
    }
}
