* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $l-grey;

    font-family: $font-prompt;
    font-size: 16px;
    font-weight: 300;

    position: relative;

    line-height:1.5;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

    &:visited {
        color: white;
    }
}

h1 {
    font-size: to-rem(30);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

// applied to body when menu is open
.no-scroll{
    overflow: hidden;
}