* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}

body {
    background-color: $l-grey;

    font-family: $font-prompt;
    font-size: 16px;
    font-weight: 400;

    position: relative;
}

a{
    text-decoration: none;

    &:visited{
        color: white;
    }
}

h1{
    font-size: to-rem(30);
}

.hidden{
    opacity: 0;
    visibility: hidden;
}