.container__sub {
    @include set-mb($mb-val-l);

    background: $d-grey url("../../svgs/optimized-logo.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center 40%;
    border-bottom-left-radius: to-rem($curve-val);
    color: $l-grey;
    text-align: center;

    padding-top: to-rem(260);
    padding-bottom: to-rem(80);

    @include breakpoint(mobile-m) {
        background-size: 80%;
    }

    @include breakpoint(mobile-l) {
        background-size: 74%;
    }

    @include breakpoint(mobile-ls) {
        background-size: 68%;
    }

    @include breakpoint(tablet){
        background-size: 50%;
    }
}

.container-head {
    @include set-mb($mb-val-l + 35);
}

.container-foot {
    background: $d-grey;
    border-top-right-radius: to-rem($curve-val);
    min-height: 100vh;

    padding: to-rem($mb-val-s) 0;

    position: relative;

    @include breakpoint(mobile-s){
        padding-top: to-rem(60);
    }

    @include breakpoint(mobile-s){
        padding-top: to-rem(70);
    }
    
    @include breakpoint(mobile-ls){
        padding-top: to-rem(80);
    }
}
