.header{
    background-color: $d-grey;
    
    margin-bottom: to-rem(260);
    
    position: sticky;
    top:0;
}

.header__inner{
    @include --flex;

    justify-content: space-between;
    align-items: center;

    margin:0 auto;
    width:90%;
}